{% extends 'base.html.twig' %}

{% block title %}{{ "Utilisateurs - Administration" ~ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb mt-3 mb-5">
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Utilisateurs</li>
</ol>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if users is not empty %}
        {% for user in users %}
            <tr>
                <th scope="row">
                    <a href="{{ path('admin_user_update', {'id': user.id}) }}">{{ user.id }}</a>
                </th>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.getRolesWithoutUser()|join(' / ') }}</td>
                <td class="d-flex">
                    <a href="{{ path('admin_user_update', {'id': user.id}) }}" class="btn btn-warning">
                        <img src="{{ asset('images/edit.png') }}" alt="" width="23" height="21" class="d-inline-block align-text-top img-white">
                    </a>
                    <form action="{{ path('admin_user_delete', {'id': user.id }) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}"/>

                        <button class="btn btn-small btn-danger rounded-circle" type="submit">
                            <img src="{{ asset('images/delete.png') }}" alt="" width="23" height="21" class="d-inline-block align-text-top img-white">
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th scope="row" colspan="4">Aucun utilisateur n'a été trouvé ¯\_(ツ)_/¯</th>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
