{% extends 'base.html.twig' %}

{% block title %}{{ "Accueil" ~ parent() }}{% endblock %}

{% block body %}
    <h1 class="mb-4">Visiter nos catégories WOW</h1>

    {% if categories is not empty %}
        <div class="row">
            {% for categorie in categories %}
                <div class="col col-lg-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">{{ categorie.name }}</div>
                        <div class="card-body">
                            <a href="{{ path('category_show', {'name': categorie.name}) }}" class="btn btn-small btn-info">Choisir cette catégorie</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune catégorie n'a été trouvée ¯\_(ツ)_/¯</p>
    {% endif %}

    <a class="position-absolute bottom-0 end-0" href="{{ path('subject_add') }}" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter un contenu">
        <img src="{{ asset('images/add_circle.png') }}" alt="Ajouter un contenu" class="cursor-pointer" width="60" height="60">
    </a>
{% endblock %}
