{% extends 'base.html.twig' %}

{% block title %}{{ subject.title ~ parent() }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('category_show', {'name': categoryName}) }}">{{ categoryName }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('board_show', {'categoryName': categoryName, 'name': boardName}) }}">{{ boardName }}</a></li>
        <li class="breadcrumb-item active">{{ subject.title }}</li>
    </ol>

    <h1 class="mt-5">{{ subject.title }}</h1>
    <h2 class="h4">{{ subject.author.pseudo }} / <small class="text-muted h6">{{ subject.createdAt|date("l m F Y à H:i:s", "Europe/Paris") }}</small></h2>

    <hr class="mt-2 mb-5">

    <p>{{ subject.content }}</p>

    <h2 class="mt-5 mb-4">Messages</h2>

    {% for message in messages %}
        <div class="card border-light my-3">
            <div class="card-header d-flex justify-content-between">
                <div>
                    {{ message.author.pseudo }} / <small class="text-muted">{{ message.createdAt|date("l m F Y à H:i:s", "Europe/Paris") }}</small>
                </div>
                {% if message.author == app.user %}
                    <form action="{{ path('message_delete', {'id': message.id }) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce message ?');">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-message') }}"/>

                        <button class="btn btn-small btn-danger rounded-circle" type="submit">
                            <img src="{{ asset('images/delete.png') }}" alt="" width="23" height="21" class="d-inline-block align-text-top img-white">
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">{{ message.content }}</p>

                {% for file in message.files %}
                    {% if file|split('.')|last == "jpg" %}
                        <img src="{{ file }}" alt="Fichier image" width="150">
                    {% else %}
                        <a href="{{ file }}">{{ file|split('/')|last }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if is_granted('ROLE_USER') %}

        {{ form_start(form) }}
            {{ form_rest(form) }}

            <button class="btn btn-lg btn-primary my-3">Envoyer</button>
        {{ form_end(form) }}

    {% endif %}
{% endblock %}
