{% extends 'base.html.twig' %}

{% block title %}{{ "Nouveau board" ~ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center mt-3 mb-5">
        <a href="{{ app.request.headers.get('referer') }}">
            <img src="{{ asset('images/back.png') }}" alt="Retour" class="me-3" width="60" height="48">
        </a>
        <h1>Ajouter un board</h1>
    </div>

    {{ form_start(form) }}
        {{ form_rest(form) }}

        <input type="hidden" name="referer" value="{{ app.request.headers.get('referer') }}"/>
        <button class="btn btn-lg btn-primary mt-3">Ajouter le board</button>
    {{ form_end(form) }}
{% endblock %}




