{% extends 'base.html.twig' %}

{% block title %}{{ boardName ~ parent() }}{% endblock %}

{% block body %}
    <ol class="breadcrumb mt-3 mb-5">
        <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('category_show', {'name': categoryName}) }}">{{ categoryName }}</a></li>
        <li class="breadcrumb-item active">{{ boardName }}</li>
    </ol>

    <h1 class="mb-4">Visiter les sujets WOW</h1>

    {% if subjects is not empty %}
        <div class="row">
            {% for subject in subjects %}
                <div class="col col-lg-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">{{ subject.title }}</div>
                        <div class="card-body">
                            <a href="{{ path('subject_show', {'categoryName': categoryName, 'boardName': boardName, 'title': subject.title}) }}" class="btn btn-small btn-info">Choisir ce sujet</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun sujet n'a été trouvée ¯\_(ツ)_/¯</p>
    {% endif %}
    
    {% if is_granted('ROLE_USER') %}
        <a class="position-absolute bottom-0 end-0" href="{{ path('subject_add', { 'boardName': boardName }) }}" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter un contenu">
            <img src="{{ asset('images/add_circle.png') }}" alt="Ajouter un contenu" class="cursor-pointer" width="60" height="60">
        </a>
    {% endif %}
{% endblock %}
