{% extends 'base.html.twig' %}

{% block title %}{{ "Administrateurs - Administration" ~ parent() }}{% endblock %}

{% block body %}
    <ol class="breadcrumb mt-3 mb-5">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
        <li class="breadcrumb-item active">Administrateurs</li>
    </ol>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% if admins is not empty %}
            {% for admin in admins %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('admin_administrator_update', {'id': admin.id}) }}">{{ admin.id }}</a>
                    </th>
                    <td>{{ admin.pseudo }}</td>
                    <td>{{ admin.email }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row" colspan="4">Aucun administrateur n'a été trouvé ¯\_(ツ)_/¯</th>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
